In [2]:
import pandas as pd
data = pd.read_csv('wine_cleared.csv')
data = data.copy()
data['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [3]:
data['price_round'] = data['price'].round().astype(int)
# поиск четырехзначных чисел
r = '\d{4}'
data['year'] = data['title'].str.findall(r).str.get(0)
data['year'] = pd.to_numeric(data['year'])

In [4]:
data['is_usa'] = data['country'].apply(lambda x: 1 if x == 'US' else 0)
data['is_france'] = data['country'].apply(lambda x: 1 if x == 'France' else 0)
data['is_italy'] = data['country'].apply(lambda x: 1 if x == 'Italy' else 0)
data['old_wine'] = data['year'].apply(lambda x: 1 if x < 2010 else 0)
data['locality'] = data['title'].str.findall('(\w+)').str.get(0)
data['locality'].sort_values()

20319            1
93375            1
55163            1
33657            1
63807            1
            ...
95773     àMaurice
115865    àMaurice
70504        Štoka
70505        Štoka
10290        Štoka
Name: locality, Length: 129971, dtype: object

In [5]:
country_population = pd.read_csv('country_population.csv', sep=';')

country_population

              country     population
0               China  1,411,778,724
1               India  1,386,584,581
2                  US    333,022,386
3           Indonesia    271,350,000
4            Pakistan    225,200,000
..                ...            ...
236              Niue          1,549
237           Tokelau          1,501
238      Vatican City            825
239     Cocos Islands            573
240  Pitcairn Islands             40

[241 rows x 2 columns]